# ===================================================================
# Secret and sensitive files
# ===================================================================
.env
*.tfvars

# ===================================================================
# Python Virtual Environment & Cache
# ===================================================================
venv/
__pycache__/
*.pyc

# ===================================================================
# Build & Test Artifacts
# ===================================================================
*.zip
.pytest_cache/
coverage.xml
htmlcov/

# ===================================================================
# Terraform State & Cache
# ===================================================================
.terraform/
*.tfstate
*.tfstate.*
crash.log

# ===================================================================
# IDE / Editor-specific files
# ===================================================================
.vscode/
.idea/

# ===================================================================
# OS-specific files
# ===================================================================
.DS_Store
Thumbs.db